.main {
  display: flex;
  flex-direction: column;
}

.row {
  @include flex(space-between, flex-start, row, nowrap);
  .number {
    flex: 3;
  }
  .name {
    flex: 5;
  }
  .city {
    flex: 2;
  }
  .date {
    flex: 2;
  }
  li {
    padding: 1rem 0rem;
  }
}

.image1 {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  img {
    height: 50%;
    width: 95%;
    object-fit: cover;
  }
}

.image2 {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  img {
    height: 40%;
    width: 95%;
    object-fit: cover;
  }
}
